<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.jboa.dao.TbcheckMapper" >
 
  <insert id="insertSelective" parameterType="com.accp.jboa.pojo.Tbcheck" >
    insert into tbcheck values (0,#{bizid},#{typeid},#{checktime},#{checkman},#{checkresult},#{checkcomment});
  </insert>
</mapper>